<tr>
  <td class="border-primary"><%= question_counter + 1 %></td>
  <td class="border-primary"><%= link_to question.body, admin_question_path(question) %></td>
  <td class="border-primary"><%= 'Que-'+question.id.to_s %></td>
  <td class="border-primary"><%= question.updated_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
  <td class="border-primary">
    <ul><%= button_to "Просмотреть",admin_question_path(question),  method: :get, class: "button_to2" %></ul>
  </td >
</tr>
