<div class="rails-default-about-page">
  <h1>Вопрос для теста "<%= @question.test.title%>"</h1>
    <input name="authenticity_token" value="<%=form_authenticity_token%>" type="hidden"><br>
    <div class="box">
      <div class="field">
        <p> <label for = "question-body" > Содержание: </label> </p><br>
        <p style = "text-align:left; margin: 5px 5px 5px 55px" type="text" name="question[body]" id="question-body" ><%= @question.body%></p><br>
        <p > <label for = "question-updated" > Обновлен: </label> </p>
        <p style = "text-align:left; margin: 5px 5px 5px 55px" type="text" name="question[updated]" id="question-updated" ><%= @question.updated_at.strftime("%d-%m-%Y %H:%M:%S")%></p><br>
        </table>
      </div>
    </div>
  <ul class="head_button2" style="width: 30%; position:sticky; margin-left: 4%; margin-bottom: 8%; margin-top: 2%">
    <ul style="margin: 1%"><%=button_to "Назад", admin_test_url(@question.test), method: :get, :class=>"button_to2"%></ul>
    <ul style="margin: 1%"><%= button_to "Новый ответ", new_admin_question_answer_path(@question), method: :get, :class=>"button_to2" %></ul>
  </ul>
  <div>
    <h3>Ответы к вопросу</h3>
        <table  class="table" style="margin-bottom: 10%" >
        <tr>
          <th class="collection_select">Вопрос</th>
          <th>Код вопроса</th>
          <th>Дата обновления</th>
          <th> </th>
        </tr>
        <%= render @question.answers %>

    </table>
  </div>
</div>
</div>
