<div class="rails-default-about-page">
  <h3>Вход через Email</h3>
  <%= form_with url: sessions_path, local: true do |form| %>
    <%= flash_message(:alert) %>
    <div class = 'main', style = 'margin-left: 10%'>
      <div class="field2">
        <table class="table_lk">
          <tr>
            <th class="lk"> <%= form.label 'Email' %></th>
            <th class="lk"><%= form.text_field :email, id: :user_email, placeholder:'Введите email', maxlength: 25 %></th>
          </tr>
          <tr>
            <th class="lk"> <%= form.label  'Пароль'%></th>
            <th class="lk"><%= form.password_field :password, id: :user_password, placeholder:'Введите пароль', maxlength: 25 %></th>
          </tr>
        </table>
        <div class = 'head_button', style="margin-left: 15%; margin-bottom: 15%">
          <p>
            <%= link_to 'Назад', root_path %>
          </p>
          <p>
            <%= form.submit 'Отправить', class:'button_to2' %>
          </p>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
