<tr>
  <th>Номер вопроса</th>
  <th class="collection_select">Вопрос</th>
  <th>Код вопроса</th>
  <th>Дата обновления</th>
  <th> </th>
</tr>
<% @questions.each_with_index do |question, index| %>
<tr>
  <td><%= index+1 %></td>
  <td class="collection_select"><%= link_to question.body, question_path(question) %></td>
  <td><%= 'Que-'+question.id.to_s %></td>
  <td><%= question.updated_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
  <td>
    <ul><%= button_to "Удалить", question_path(id: question.id), method: :delete,  data: {confirm: "Подтверждаете удаление?"}, class:"button_to2" %></ul>
    <ul><%= button_to "Редактировать", edit_question_path(id: question.id), method: :get, class:"button_to2" %></ul>
    <ul><%= button_to "Просмотреть",question_path(question),  method: :get, class:"button_to2" %></ul>
  </td>
</tr>
<%end%>
