<p id="notice"><%= notice %></p>

<div class="rails-default-about-page">
  <h1>Ответ на вопрос "<%=@answer.question.body%>"</h1>
  <input name="authenticity_token" value="<%=form_authenticity_token%>" type="hidden"><br>
  <div class="box">
    <div class="field">
      <p> <label for = "answer-body" > Содержание: </label> </p><br>
      <p style = "text-align:left; margin: 5px 5px 5px 55px" type="text" name="answer[body]" id="answer-body" ><%= @answer.body %></p><br>
      <p > <label for = "question-updated" > Обновлен: </label> </p>
      <p style = "text-align:left; margin: 5px 5px 5px 55px" type="text" name="question[updated]" id="question-updated" ><%= @answer.updated_at.strftime("%d-%m-%Y %H:%M:%S")%></p><br>
      <p> <label for = "answer-correct" > Верность ответа: </label> </p><br>
      <p style = "text-align:left; margin: 5px 5px 5px 55px" type="text" name="answer[correct]" id="answer-correct" ><%= @answer.correct %></p><br>
      </table>
    </div>
  </div>
  <ul class="head_button2" style="width: 30%; position:sticky; margin-left: 4%; margin-bottom: 8%; margin-top: 2%">
    <ul style="margin: 1%"><%=button_to "Назад", question_url(@answer.question), method: :get, :class=>"button_to2"%></ul>
    <ul style="margin: 1%"><%=button_to "Редактировать", edit_answer_path(@answer), method: :get, :class=>"button_to2" %></ul>
  </ul>
</div>
</div>
