<%= bootstrap_form_with model: [:admin, @test], local: true, html: { class: 'bg-info'} do |f| %>

  <div class="bg-primary-subtle p-4">
    <div class="mb-3">
      <%= f.text_area :title, id: :test_title, placeholder: "Введите название теста", class: 'form-control', rows: 15, maxlength: 250 %>
    </div>

    <div class="mb-3">
      <%= f.number_field :level, id: :test_level, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.collection_select :category_id, @categories, :number, :type_of_category, { selected: @test.category_id || Category.all.map(&:id), include_hidden: false }, prompt: true, uniq: true, class: 'form-select' %>
    </div>

    <div class="text-start">
      <%= f.submit class: 'btn btn-success' %>
    </div>


  </div>

<% end %>
