<div class="container mt-5 bg-secondary-subtle" style="width: 86%; margin: 0 auto;">
  <h1 class="fw-bold text-uppercase d-flex align-items-center justify-content-center" style="margin-top: 7%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333;">
    <%= t('admin.tests.index.header') %>
  </h1>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-light">
      <tr>
        <th scope="col"><%= link_to "Идентификатор теста", :sort => "id" %></th>
        <th scope="col"><%= link_to "Тест", :sort => "title" %></th>
        <th scope="col"><%= link_to "Дата обновления", :sort => "updated_at" %></th>
        <th scope="col"><%= link_to "Уровень", :sort => "level" %></th>
        <th scope="col">Количество вопросов</th>
        <th colspan="6"> Действия </th>
      </tr>
      </thead>
      <tbody>
      <%= render @test %>
      </tbody>
    </table>
    <div class="row mt-3 ">
    <div class="col-md-6 text-center my-3 mt-3">
      <%= link_to "Новый тест", new_admin_test_path, method: :get, class: "btn btn-primary" %>
    </div>
    <div class="col-md-6 text-center my-3 mt-3">
      <%= link_to "Список Gist", admin_gists_path, method: :get, class: "btn btn-primary" %>
    </div>
    </div>
</div>
</div>
