<div class="container mt-5 bg-secondary-subtle" style="width: 86%; margin: 0 auto;">
  <h1 class="fw-bold text-uppercase d-flex align-items-center justify-content-center" style="margin-top: 7%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333;">
    <%= t('admin.tests.index.header') %>
  </h1>

  <turbo-frame id="tests">
    <table class="table" id="tests-table">

      <tr>
        <th> Идентификатор теста</th>
        <th>
          <% current_direction = params[:direction] == 'asc' ? 'desc' : 'asc' %>
          <%= link_to admin_tests_path(sort: 'title', direction: current_direction), data: { turbo_frame: "tests" } do %>
            Title
            <% if params[:sort] == 'title' %>
              <%= octicon(params[:direction] == 'asc' ? 'arrow-up' : 'arrow-down') %>
            <% end %>
          <% end %>
        </th>

        <th>Дата обновления</th>
        <th>Уровень</th>
        <th>Количество вопросов</th>
        <th colspan="6"> Действия </th>
      </tr>

      <tbody>
      <%= render @tests %>
      </tbody>
    </table>
  </turbo-frame>
    <div class="row mt-3 ">
    <div class="col-md-6 text-center my-3 mt-3">
      <%= link_to "Новый тест", new_admin_test_path, method: :get, class: "btn btn-primary" %>
    </div>
    <div class="col-md-6 text-center my-3 mt-3">
      <%= link_to "Список Gist", admin_gists_path, method: :get, class: "btn btn-primary" %>
    </div>
    </div>
</div>
</div>
