<tr>
<td><%= test.id %></td>
<td><%= test.title %></td>
<td><%= test.updated_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
<td><%= test_level(test) %></td>
<td><%= test.questions.count %></td>
<td>
  <ul><%= button_to "Пройти тест", start_test_path(test),  class: "button_to2" %></ul>
</td>

</tr>
