<div class="rails-default-about-page">
  <h1>Тест №<%= @test.id %></h1>
  <%= form_with model: @test, local: true do |form| %>
    <div>
    <%= form.label "Название: " %> <br>
    <%= form.label @test.title %> <br><br><br>
    <%= form.label "Уровень: " %> <br>
    <%= form.label @test.level %> <br><br><br>
    <%= form.label "Категория: " %> <br>
    <%= form.label @test.category.type_of_category %> <br><br><br>
  <%end %>
<div>
  <%if @test.questions.present?%>
  <table  class="table">
    <tr>
      <th>Номер вопроса</th>
      <th class="collection_select">Вопрос</th>
      <th>Код вопроса</th>
      <th>Дата обновления</th>
      <th> </th>
    </tr>
    <%= render @test.questions.first %>
  </table>
    <% else %>
  <p> Для данного теста вопросов не создано </p>
    <% end %>
</div>
<ul class="head_button2">
  <%= button_to "Назад", tests_path(@test), method: :get, :class=> "button_to2" %>
  <%= button_to "Редактировать", edit_test_path(@test), method: :get, :class=> "button_to2" %>
  <%= button_to "Создать вопрос к тесту", new_test_question_path(@test.id), method: :get, :class=> "button_to2" %>
  <br>
</ul>
</div>
    <br><br><br>
</div>
