<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel GameTestGuru</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'admin/nav' , class: 'fixed-top' %>
<%= render 'shared/flash' %>
<div>

<%= yield %>
</div>
</body>

<%= render 'shared/footer', class: 'fixed-bottom' %>

</html>
