<!DOCTYPE html>
<html>
  <head>
    <title>GameTestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <header>
      <div class="header-style">
        <table class="table_lk" >
          <th class="lk1">
            <table class="label" >
              <th class="lk1"> <%= link_to "Test Guru", root_path, id: "logo" %></th>
              <th class="lk1"><%= link_to "Выйти", logout_path, method: :delete %></th>
            </table>
          </th>
          <th class="lk1"> <p class="nav user"> <%= (current_user.first_name).gsub(/\b./, &:upcase) %>, добро пожаловать <b>(@<%= current_user.email %>)</b> в <%= link_to TestGuru, root_path %>!</p></th>
        </table>
      </div>
    </header>
  <% else %>
    <header>
      <div class="header-style">
        <table class="table_lk" >
          <th class="lk1">
            <table class="label" >
              <th class="lk1"> <%= link_to "Test Guru", root_path, id: "logo" %></th>
              <th class="lk1"><%= link_to "Авторизация", login_path %></th>
              <th class="lk1"><%= link_to "Регистрация", signup_path %></th>
            </table>
          </th>
          <th class="lk1"> <p class="nav user"></p></th>
        </table>
      </div>
    </header>
  <% end %>

    <%= yield %>
  </body>

  <%= render 'shared/footer' %>

</html>
